
body{

    background-color: #333333;
}

header{

    overflow: hidden;
}

.logo img{

    width: 140px;
    height: 20px;
    margin-top: 30px;
}

.signup button{

    float: right;
    margin-top: 24px;
    width: 90px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    font-family: helvetica;
    font-size: 16px;
}


.signup button:hover{
    background-color:#EC3360;
    color: #fff;
    border:0;
}

.heading{

    font-size: 48px;
    color: #ffffcc;
    text-align: center;
    margin-top: 70px;


}

.form{

    text-align: center;
    margin-top: 70px;
}

.form input[type=email]{


    margin-bottom: 25px;
    border-radius: 7px;
    padding: 5px;
    font-size: 18px;
    width: 400px;
    height: 50px;
    background-color: #ffffe5;
}

.form input[type=password]{


    border-radius: 7px;
    margin-bottom: 40px;
    padding: 5px;
    font-size: 18px;
    width: 400px;
    height: 50px;
    background-color: #ffffe5;
}

.form input[type=text]{


    border-radius: 7px;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 18px;
    width: 400px;
    height: 50px;
    background-color: #ffffe5;
}

.form button{

    width: 400px;
    height: 45px;
    border-radius: 7px;
    background-color:#EC3360;
    color: #fff;
    font-family: helvetica;
    font-size: 17px;
    border:0;
}

.form button:hover{

    background-color: #EA1C4E;
}


.forget{

    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.forget a{

    color: #EC3360;
    text-decoration: underline;
}

.forget-p p{

    color:  #ffffe5;
    width: 400px;
    height: 45;
    margin:0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}


.header-main img{

    margin-top: 15px;
    margin-left: 10px;

}


.header-main{

    height: 10%;
    overflow: hidden;
   // background-color: #30353E;
    background-color:#333333;




}

.logo-home{

    float: left;
    width: 50%;
    height: inherit;


}
.nav-main{


    float: right;
    height: inherit;
    margin-top: 10px;
    margin-right: 40px;
}


.nav-main button{


    margin-right: 15px;
    border:1;
    background-color: transparent;
    color: #fff;
    font-weight: 500;


}


#editor {

        border: 0;

        position: absolute;
       bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
       height: 90%;
       float: left;
      // padding-top: 50px;

    }


#syntax,#theme,#fontSize,#tabsize{

    margin-bottom: 10px;
    padding: 2px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

#syntax{

    margin-left: 20px;
}

#theme{

    margin-left: 20px;

}

#fontSize{

    margin-left: 5px;
}

#tabsize{

    margin-left: 10px;
}



div.modal-dialog{

width: 350px;

}


.modal-title{

    text-align: center;
}




.login-index,.signup-index{

    background-color: transparent;
    color: #F3F3F4;
    width: 80px;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 5px;

}



.signup-index{


    text-align: center;
}



.index-logo img{

    width: 270px;
    height: 40px;
    margin-top: 50px;
}


.index-h{


    color: #F3F3F4;
    background-color: transparent;
    text-align: center;
    padding:5px;
    margin-top: 35px;

}


.index-h h1{

    font-size: 48px;
}



.index-btn{


    width: 170px;
    height: 50px;
    margin-top: 20px;
    font-weight: 500px;
    font-size: 17px;
}


.img-index{

    margin-top: 48px;
    margin-left: 75px;
    //width: 700px;
    //height: 500px;
    border-radius: 5px;


}


footer{

    background-color: #262626;
    color: #000;
    margin-top:72px;
    height: 100px;
    text-align: center;

}


footer ul,li{

    text-decoration: none;
    list-style: none;
    display: inline;
}

.footer-row{

    margin-top: 30px;
}


#error{

    color: #fff;
}